{% extends 'base.html.twig' %}

{% block title %}Заказать услугу{% endblock %}

{% block body %}
    <h1>Заказать услугу</h1>
    {{ form_start(form) }}
        {{ form_row(form.service) }}
        <br/>
        {{ form_row(form.user) }}
        <br/>
    {{ form_end(form) }}
{% endblock %}
